<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <appSettings>
        <add key="encoding" value="shift_jis" />
        <add key="encoding" value="euc-jp" />
        <add key="encoding" value="utf-8" />
        <add key="edf-exts" value=".edf,.edif" />
        <add key="csv-exts" value=".csv,.txt" />
    </appSettings>
</configuration>